.so-widget-sow-slider-default-9a639d5b2c36 .sow-slider-base .sow-slider-pagination li a {
  background: #dd5e08;
}
.so-widget-sow-slider-default-9a639d5b2c36 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-9a639d5b2c36 .sow-slider-base .sow-slide-nav a {
  color: #dd5e08;
}